# Ignore build output directory
/build
/export
/socs_full_comp*
/socs_simple_comp*
/socs_simple_synth*
/hls/socs_simple_csim*

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata